<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Chat Slick IM</title>
  <!-- Bootstrap -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/css/chats.css" rel="stylesheet">
  <link href="../assets/css/jquery-ui.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="js mchat mchatadmin">




  <div class="container bootstrap snipets">
    <h1 class="text-center text-muted">Product catalog</h1>

    <div id="catalog">

    </div>
    <!-- <div class="row flow-offset-1">
      <div class="col-xs-6 col-md-4 sitems" data-toggle="modal" data-target="#myModal" >
        <div class="product tumbnail thumbnail-3"><a href="#"><img src="assets/img/shop-1.jpg" alt=""></a>
          <div class="caption">
            <h6><a href="#">Short Sleeve T-Shirt</a></h6><span class="price">
              </span><span class="price sale">$12.49</span>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-4 sitems" data-toggle="modal" data-target="#myModal" >
          <div class="product tumbnail thumbnail-3"><a href="#"><img src="assets/img/shop-2.jpg" alt=""></a>
            <div class="caption">
              <h6><a href="#">Short Sleeve T-Shirt</a></h6><span class="price">
                </span><span class="price sale">$15.49</span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-4 sitems" data-toggle="modal" data-target="#myModal" >
            <div class="product tumbnail thumbnail-3"><a href="#"><img src="assets/img/shop-3.jpg" alt=""></a>
              <div class="caption">
                <h6><a href="#">Short Sleeve T-Shirt</a></h6><span class="price">$17.49</span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-4 sitems" data-toggle="modal" data-target="#myModal" >
            <div class="product tumbnail thumbnail-3"><a href="#"><img src="assets/img/shop-4.jpg" alt=""></a>
              <div class="caption">
                <h6><a href="#">Short Sleeve T-Shirt</a></h6><span class="price">
                  </span><span class="price sale">$22.49</span>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-md-4 sitems" data-toggle="modal" data-target="#myModal" >
              <div class="product tumbnail thumbnail-3"><a href="#"><img src="assets/img/shop-5.jpg" alt=""></a>
                <div class="caption">
                  <h6><a href="#">Short Sleeve T-Shirt</a></h6><span class="price">
                    </span><span class="price sale">$137.49</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-md-4 sitems" data-toggle="modal" data-target="#myModal" >
                <div class="product tumbnail thumbnail-3"><a href="#"><img src="assets/img/shop-6.jpg" alt=""></a>
                  <div class="caption">
                    <h6><a href="#">Short Sleeve T-Shirt</a></h6><span class="price">
                      </span><span class="price sale">$152.49</span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-md-4 sitems" data-toggle="modal" data-target="#myModal" >
                  <div class="product tumbnail thumbnail-3"><a href="#"><img src="assets/img/shop-7.jpg" alt=""></a>
                    <div class="caption">
                      <h6><a href="#">Short Sleeve T-Shirt</a></h6><span class="price">$122.49</span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-md-4 sitems" data-toggle="modal" data-target="#myModal" >
                  <div class="product tumbnail thumbnail-3"><a href="#"><img src="assets/img/shop-8.jpg" alt=""></a>
                    <div class="caption">
                      <h6><a href="#">Short Sleeve T-Shirt</a></h6><span class="price">
                        </span><span class="price sale">$12.00</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-4 sitems" data-toggle="modal" data-target="#myModal" >
                    <div class="product tumbnail thumbnail-3"><a href="#"><img src="assets/img/shop-9.jpg" alt=""></a>
                      <div class="caption">
                        <h6><a href="#">Short Sleeve T-Shirt</a></h6><span class="price">
                          </span><span class="price sale">$12.49</span>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>


                <div class="modal fade modal-success bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="successModal">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">

                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Purchase Success</h4>
                      </div>
                      <div class="modal-body">
                        <div class="alert alert-success" role="alert">
                          <b>Success;</b> your purchase was success. Feel free to contact our support team for any assistance.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>

              <!-- Modal -->
              <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">



                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">You are buying...</h4>
                    </div>
                    <div class="modal-body">

                      <div class="alert alert-success">
                        <strong class="bname"></strong><br>
                        <span class="bprice"></span>
                      </div>

                      <form role="form" id="buynow" class="ng-pristine ng-valid">
                        <div class="form-content">


                          <div class="form-group">
                            <input type="text" id="name" required class="form-control input-underline input-lg" placeholder="Name">
                          </div>

                          <div class="form-group">
                            <input type="email" id="email" required class="form-control input-underline input-lg" placeholder="Email">
                          </div>

                          <div class="form-group">
                            <textarea id="address" class="form-control input-underline input-lg" required placeholder="Shipping Address"></textarea>
                          </div>

                          <div class="form-group">
                            <input type="tel" id="phone" class="form-control input-underline input-lg" required placeholder="Phone Number">
                          </div>

                          <div class="form-group">
                            <input type="number" id="pin" class="form-control input-underline input-lg" required placeholder="PIN">
                          </div>


                        </div>
                        <button type="submit" class="btn btn-success btn-lg">
                          Order Now
                        </button> &nbsp;
                        <button data-dismiss="modal" class="btn btn-danger btn-lg">Cancel</button>
                      </form>
                    </div>

                  </div>

                </div>
              </div>


              <div class="container" id="chatui">
                <div class="row">
                  <div class="col-md-8">
                    <h1>chats</h1>
                    <hr>
                  </div>

                  <div class="col-md-4">
                    <h1>hello</h1>
                    <hr>
                  </div>

                </div>
                <audio id="newchat">
                  <source src="../assets/newchat.mp3" type="audio/mpeg">
                  </audio>

                </div>

                <div class="chatter">

                  <form action="" method="post" id="chatter_create_user">
                    <div class="chatter_pre_signup">
                      <input type="text"  id="chatter_name" placeholder="Your name" class="chatter_field chatter_name" required="true" />
                      <input type="email" id="chatter_email" placeholder="Your email address" class="chatter_field chatter_email" required="true" />
                      <input type="text"  id="chat_sub" placeholder="What is it about?" class="chatter_field chat_sub" required="true" />
                      <button type="submit" class="chatter_btn chatter_create_user" >Start Chatting</button>
                    </div>
                  </form>

                  <div class="chatter_post_signup">
                    <div class="chatter_convo">
                      <p id="welcome"></p>
                      <!-- <span class="chatter_msg_item chatter_msg_item_user">
                      <span class="chatter_avatar"><img src="http://img.lukepeters.me/jack.jpg" /></span>
                      <strong class="chatter_name">Jack Sparrow</strong>
                      Oh hello. Who is this?
                    </span> -->
                  </div>
                  <div class="ui-widget">
                    <textarea id="chatter_message" placeholder="Type your message here..." class="chatter_field chatter_message"></textarea>
                  </div>

                  <button type="butoon" id="sendchat" class="chatter_btn chatter_create_user">Send</button>
                </div>

                <div class="chatter_feedback">
                  <h4>Leave feedback</h4>
                  <textarea name="feedbacks" id="feedbacktxt" placeholder="Leave feedback" rows="8" cols="36"></textarea>
                  <button type="submit" id="sendfeedback" class="chatter_btn chatter_create_user" >Send Feedback</button>

                </div>

              </div>


              <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
              <script src="../assets/js/jquery.min.js"></script>
              <!-- Include all compiled plugins (below), or include individual files as needed -->

              <script src="/socket.io/socket.io.js"></script>
              <script src="../assets/js/bootstrap.min.js"></script>
              <script src="../assets/js/store.min.js"></script>
              <script src="../assets/js/md5.min.js"></script>
              <script src="../assets/js/jquery-ui.js"></script>
              <script src="../assets/js/mchats.js"></script>

              <!-- http://www.tutorialspoint.com/jqueryui/jqueryui_autocomplete.htm -->

            </body>
            </html>
