html, body{
  height:100%;
}
.em {
  font-style: italic;
  display: block;
}
.chat-left {
  min-height: 100%;
  height: auto !important;
  padding: 20px 0 ;
}
#chatWrap {
  display: none;
}
#message {
  width: 100%;
}
.full-w {
  width:90%;
}
#chats {
  min-height: 400px;
  height: 100%;
}

@media (max-width: 992px) {
  .chat-left  {
    padding-left: 15px;
  }
}

#chatui {
  display: none;
  visibility: hidden;
}
#login {
  margin-top: 40%;
}
.required {
  outline: 2px solid black !important
}
.customers {
  color: #FFF;
  cursor: pointer;
}
.chatter {
  position: fixed;
  right: 40px;
  bottom: 0px;
  z-index: 1000;
  margin: 0;
  padding: 12px 12px 16px 12px;
  width: 300px;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #c0392b;
  box-shadow: 7px -5px 11px rgba(0,0,0,0.3);
}

.chatter .chatter_pre_signup, .chatter_feedback {
  display: none;
}

.chatter .chatter_post_signup {
  display: block;
}

.chatter.chatter_signed_up .chatter_post_signup {
  display: block;
}

.chatter .chatter_field {
  position: relative;
  margin: 0 0 8px 0;
  padding: 11px 12px 9px 12px;
  width: 276px;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #4b4b4b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  border: none;
  outline: none;
  background: #ffffff;
}

.chatter .chatter_field.chatter_message {
  margin: 0;
  padding: 11px 12px 9px 12px;
  font-size: 14px;
  line-height: 20px;
  min-height: 22px;
  resize: none;
}

.chatter .chatter_convo {
  position: relative;
  margin: 0 -6px 12px -6px;
  padding: 0 6px;
  height: 366px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  overflow-y: auto;
}

.chatter .chatter_convo .chatter_msg_item {
  position: relative;
  margin: 5px 0 8px 0;
  padding: 8px 10px;
  max-width: 60%;
  display: block;
  background: rgba(255,255,255,0.26);
}

.chatter .chatter_convo .chatter_msg_item .chatter_avatar {
  position: absolute;
  top: 0;
}

.chatter .chatter_convo .chatter_msg_item.chatter_msg_item_admin .chatter_avatar {
  left: -52px;
}

.chatter .chatter_convo .chatter_msg_item.chatter_msg_item_user .chatter_avatar {
  right: -52px;
}

.chatter .chatter_convo .chatter_msg_item .chatter_avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chatter .chatter_convo .chatter_msg_item.chatter_msg_item_admin {
  margin-left: 52px;
  float: left;
  clear: both;
}

.chatter .chatter_convo .chatter_msg_item.chatter_msg_item_user {
  margin-right: 52px;
  float: right;
  clear: both;
  background: rgba(255,255,255,0.16);
}

.chatter .chatter_convo .chatter_msg_item.chatter_msg_item_admin:before {
  content: '';
  position: absolute;
  top: 15px;
  left: -12px;
  z-index: 10;
  border: 6px solid transparent;
  border-right-color: rgba(255,255,255,0.26);
}

.chatter_msg_item.chatter_msg_item_user:before {
  content: '';
  position: absolute;
  top: 15px;
  right: -12px;
  z-index: 10;
  border: 6px solid transparent;
  border-left-color: rgba(255,255,255,0.16);
}

.chatter .chatter_convo .chatter_msg_item strong.chatter_name {
  padding: 0 1px 1px 0;
  font-weight: 900;
  display: block;
}

.chatter .chatter_btn {
  position: relative;
  margin: 0;
  padding: 0 12px;
  height: 42px;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #ffffff;
  color: rgba(255,255,255,0.85);
  border: none;
  outline: none;
  background: rgba(255,124,124,0.8);
}

.chatter .chatter_btn:hover {
  color: rgba(255,255,255,1);
  background: rgba(255,124,124,0.96);
}

.chatter .chatter_btn:active {
  color: rgba(255,255,255,0.7);
  background: rgba(255,124,124,0.7);
}

.chatter .chatter_btn.chatter_create_user {
  width: 100%;
}

.chat-1{
  right: 40px;
}
.admincame{
  display: block;
  clear: both;
  background: white;
  color: #444 !important;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 11px;
  margin-bottom: 5px;
}
.mchatadminc .chatter {
  background: #c0a904 !important;
}
.chatter_feedback h4 {
  color: #FFF;
}
.red {
  color: red;
  background: rgb(239, 238, 34);
}


ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.sales li {
  clear: both;
  display: block;
}
ul.sales li span {
  display: inline-block;
  float: left;
}
ul.sales li span:nth-child(1) {
  width: 8%;
}
ul.sales li span:nth-child(2) {
  width: 70%;
}
ul.sales li span:nth-child(3) {
  width: 10%;
}

.botsReply {
  width: 80%;
  max-width: 100% !important;
  background: rgba(255, 167, 6, 0.86) !important;
}

/*
* @subsection Shop
*/
.product {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.product .caption {
  margin-top: 15px;
}

.product .caption h6 {
  color: #455a64;
}

.product .caption .price + .price {
  margin-left: 15px;
}

.product.tumbnail {
  box-shadow: 0 5px 25px 0 transparent;
  transition: 0.3s linear;
  padding-top: 0;
}

.product.tumbnail img:hover {
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
}

.single-product span {
  display: inline-block;
}

.single-product .rating .fa-star, .single-product .rating .fa-star-o {
  font-size: 16px;
  color: #f7d4a0;
  margin-left: 2px;
}

.single-product .rating + * {
  margin-left: 15px;
}

.single-product h1.h1-variant-2 {
  margin-bottom: 20px;
}

.single-product .caption:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.single-product .caption span {
  display: inline-block;
  vertical-align: middle;
}

.single-product .caption .price {
  font-weight: 400;
}

.single-product .caption .price.sale {
  color: #e75854;
  font-size: 33px;
}

.single-product .caption * + .price {
  margin-left: 10.8%;
}

@media (max-width: 1199px) {
  .single-product .caption * + .price {
    margin-left: 7.8%;
  }
}

.single-product .caption * + .quantity {
  margin-left: 26px;
}

.single-product .caption .info-list {
  border-bottom: 1px solid #f3f3ed;
  border-top: 1px solid #f3f3ed;
  font-family: Montserrat, sans-serif;
  padding-top: 26px;
  padding-bottom: 26px;
  text-align: left;
}

.single-product .caption .info-list dt, .single-product .caption .info-list dd {
  display: inline-block;
  line-height: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.single-product .caption .info-list dt {
  letter-spacing: 0.08em;
  font-size: 12px;
  color: #a7b0b4;
  width: 35%;
  text-transform: uppercase;
}

.single-product .caption .info-list dd {
  font-size: 15px;
  color: #565452;
  width: 62.5%;
}

.single-product .caption .share span.small {
  margin-top: 9px;
}

@media (max-width: 991px) {
  .single-product .caption .share span.small {
    display: block;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .single-product .table-mobile tr {
    padding-top: 0;
  }
  .single-product .table-mobile tr:before {
    display: none;
  }
}

.price {
  display: inline-block;
  font-size: 15px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #2b2f3e;
}

.price.sale {
  color: #e75854;
}

.price del {
  color: #b0bec5;
}

.quantity {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  background: #eceff1;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 82px;
  height: auto;
  display: inline-block;
}

.quantity span {
  display: inline-block;
}

.quantity .num {
  width: 26px;
}

.quantity [class*='fa-'] {
  padding-top: 4px;
  width: 22px;
  padding-bottom: 4px;
  color: #b0bec5;
  cursor: pointer;
}

.quantity [class*='fa-']:hover {
  color: #455a64;
}
.padding-top {
  padding-top: 40px;
}
.msgred {
  color: red !important;
}
