html, body{
  height:100%;
}
.em {
  font-style: italic;
  display: block;
}
.chat-left {
  min-height: 100%;
  height: auto !important;
  padding: 20px 0 ;
}
#chatWrap {
  display: none;
}
#message {
  width: 100%;
}
.full-w {
  width:90%;
}
#chats {
  min-height: 400px;
  height: 100%;
}

@media (max-width: 992px) {
  .chat-left  {
    padding-left: 15px;
  }
}
